body {
  font-family: Arial;
  text-align: center;
  background: #222;
  color: white;
}

.grid {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.hole {
  width: 90px;
  height: 90px;
  background: #444;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.mole {
  background: brown;
}